* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 0px 0px 5px #777;
}

body {
    padding-bottom: 30px;
    font-family: Helvetica, Arial, sans-serif;
    color: #FFF;
    min-height: 100vh;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.middle h1 {
    font-size: 110px;
    font-weight: normal;
}

.middle h2 {
    font-size: 55px;
    font-weight: normal;
}

footer {
    width: auto;
}

.phrase:hover .author {
    height: 19px;
}

.phrase {
    margin-bottom: 19px;
    padding-bottom: 5px;
}

.author {
    overflow: hidden;
    height: 0px;
    transition: all ease-in .2s;
}
